asgiref==3.9.1
Django==5.2.14
django-cors-headers==4.9.0
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.1
gunicorn==25.1.0
packaging==26.0
pillow==11.3.0
psycopg2-binary==2.9.10
PyJWT==2.11.0
python-dotenv==1.2.1
sqlparse==0.5.3
tzdata==2025.2
wheel==0.46.3
